build/
notes/
.cache/
.nvim/
*.bak
.teleignore
compile_commands.json
external/libtorch/
external/libtorch-cxx11abi/
build_apt/
build_min/
random_scripts/
.jukit/
external_builds/
*.vtu
*.pvtu
*.pvd
*.vtk
mesh_data/
field_data/
**/compute_times.json
**/commet_solver.log
**/problem_size.json
hpc/
examples/benchmark_examples/torchscripts/
examples/benchmark_examples/global/input/
examples/benchmark_examples/global/output/
